extends layout 
 
block content 
  h1= title 
 
  - let monitorid = toShow._id 
  - let monitorbrand = toShow.brand 
  - let monitorcost = toShow.cost 
  - let monitorsize = toShow.size 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{monitorid} 
  - let actionid = "/resource/monitor/" + monitorid 
  form(id='monitorForm', action= actionid, method="PUT") 
    div.form-group 
        label.monitorAttr(for='monitor_type') monitor brand 
        input#brand(type='text', name='brand', value= monitorbrand ) 
    div.form-group 
        label.monitorAttr(for='size') monitor size 
        input#size(type='text', name='size', value= monitorsize ) 
    div.form-group 
        label.monitorAttr(for='cost') monitor cost 
        input#cost(type='number', name='cost', value= monitorcost ) 
    input(type="submit") 
 
  script.
    document.forms['monitorForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      console.log(event.target)
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    }); 